.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88.77vh;
}

.box {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.header h1 {
    font-size: 24px;
}

.header button {
    border: none;
    background-color: #04AA6D;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: #fff;
}

.header button:hover {
    background-color: #048657;
}

.datagrid {
    background-color: #fff;
    max-height: 70vh;
    width: 903px;
    box-sizing: border-box;
}
