.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 88.77vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.table {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 16px;
    border-radius: 16px;
    gap: 18px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    border-bottom: 1px solid #464444;
    padding: 6px;
}

.button {
    background-color: #04AA6D;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
}

.button:hover {
    background-color: #058556;
}