.body {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.close {
    background-color: #111;
    width: 400px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #000;
}

.close button {
    border: none;
    background-color: transparent;
    color: #fff;
    margin-right: 5px;
    padding: 5px;
}

.close button:hover {
    color: #f00;
}

.container {
    background: repeating-linear-gradient(45deg, #000 0 16px, #111 0 32px);
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 400px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 32px;
}

.profile img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 16px;
    border: 4px solid #12cccc;
}

.profileInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.divisions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.php_form button {
    border: 1px solid #12cccc;
    background-color: transparent;
    font-weight: bold;
    color: #fff;
    padding: 16px 24px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.php_form button:hover {
    background-color: #12cccc;
    border: none;
    color: #111;
}

.dev_form button{
    border: 1px solid #12cc66;
    background-color: transparent;
    color: #fff;
    padding: 6px 12px;
    border-radius: 16px;
}

.dev_form button:hover {
    background-color: #12cc66;
    border: none;
    color: #111;
}

.logout button{
    border: 1px solid #cc5c12;
    background-color: transparent;
    color: #fff;
    padding: 6px 12px;
    border-radius: 16px;
}

.logout button:hover {
    background-color: #cc5c12;
    border: none;
    color: #111;
}