.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88.77vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}